<app-navigation></app-navigation>
<section>
  <div class="container-fluid">
    <div class="row mb-5" *ngIf="!finished">
      <div class="col-12">
        <div class="text-center">
          <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
        </div>
      </div>
    </div>
    <div class="row mb-5" *ngIf="finished && movie !== null">
      <div class="col-12 mb-3">
        <h1 class="text-center">{{movie.title}}</h1>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="text-center">
          <img class="img-fluid" [src]="movie.image_url" [alt]="movie.title">
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <p *ngIf="movie.director"><strong>Director: </strong>{{movie.director}}</p>
        <p *ngIf="movie.writers"><strong>Writers: </strong>{{movie.writers}}</p>
        <p *ngIf="movie.actors_actresses"><strong>Actors / Actresses: </strong>{{movie.actors_actresses}}</p>
        <p *ngIf="movie.stars"><strong>Stars: </strong>{{movie.stars}}</p>
        <p *ngIf="movie.year > 0"><strong>Year: </strong>{{movie.year}}</p>
        <p>{{movie.summary}}</p>
        <div *ngIf="movie.trailer" class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" [src]="sanitizeUrl(movie.trailer)" [title]="movie.title"></iframe>
        </div>
      </div>
    </div>
    <div class="row mb-5" *ngIf="finished && movie === null">
      <div class="col-12">
        <h1>The movie does not exist</h1>
        <p><a class="btn btn-primary" routerLink="/movies">Return to Movies</a></p>
      </div>
    </div>
  </div>
</section>
