<app-navigation></app-navigation>
<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-md-8 offset-md-2 col-lg-4 offset-lg-4">
        <h3 class="text-center">Create a movie</h3>
        <form [formGroup]="createMovieFormGroup" (submit)="createMovie()">
          <div class="form-group">
            <mat-form-field class="w-100">
              <input matInput formControlName="title" placeholder="Title">
              <mat-error *ngIf="hasError('title', 'required')">Title is required</mat-error>
            </mat-form-field>
          </div>
          <div class="form-group">
            <label>Preview image</label>
            <input type="file" class="form-control-file" (change)="onFileChange($event, 'preview_image')" placeholder="Preview image" required>
            <mat-error *ngIf="hasError('preview_image', 'required')">Preview image is required</mat-error>
          </div>
          <div class="form-group">
            <label>Image</label>
            <input type="file" class="form-control-file" (change)="onFileChange($event, 'image')" placeholder="Preview image" required>
            <mat-error *ngIf="hasError('image', 'required')">Image is required</mat-error>
          </div>
          <div class="form-group">
            <mat-form-field class="w-100">
              <input type="number" matInput formControlName="year" placeholder="Year" min="0">
              <mat-error *ngIf="hasError('year', 'required')">Year is required</mat-error>
              <mat-error *ngIf="hasError('stars', 'min') || hasError('stars', 'max')">
                Please enter a year between 1800 and 2020
              </mat-error>
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field class="w-100">
              <textarea rows="3" matInput formControlName="summary" placeholder="Summary"></textarea>
              <mat-error *ngIf="hasError('summary', 'required')">Summary is required</mat-error>
            </mat-form-field>
          </div>

          <hr>

          <div class="form-group">
            <mat-form-field class="w-100">
              <input matInput formControlName="director" placeholder="Director">
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field class="w-100">
              <input type="text" matInput formControlName="writers" placeholder="Writers">
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field class="w-100">
              <input type="text" matInput formControlName="actors_actresses" placeholder="Actors / Actresses">
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field class="w-100">
              <input type="number" min="1" max="5" matInput formControlName="stars" placeholder="Stars">
              <mat-error *ngIf="hasError('stars', 'min') || hasError('stars', 'max')">
                Please enter a number between 1 and 5
              </mat-error>
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field class="w-100">
              <input type="text" matInput formControlName="trailer" placeholder="Trailer (Insert the youtube url for iframe tags)">
            </mat-form-field>
          </div>

          <div>
            <button type="submit" class="btn btn-primary">Create</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
