<app-navigation></app-navigation>
<section>
  <div class="container-fluid" *ngIf="!finished">
    <div class="row">
      <div class="col">
        <div class="text-center">
          <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid" *ngIf="finished">
    <div class="row">
      <div class="col">
        <h1 class="text-center">Suggested Movies</h1>
        <p>We suggest you movies based on your age</p>
      </div>
    </div>
    <div class="row" *ngIf="totalMovies > 0">
      <div *ngFor="let movie of movies" class="col-xs-12 col-md-6 col-lg-3 my-3">
        <app-movie-preview [movie]="movie"></app-movie-preview>
      </div>
    </div>
    <div class="row" *ngIf="totalMovies === 0">
      <div class="col">
        <p>We could not find movies for you</p>
      </div>
    </div>
    <div class="row" *ngIf="totalMovies > 12">
      <div class="col">
        <mat-paginator [length]="totalMovies" [pageSize]="12" [pageIndex]="page" (page)="pageChanged($event)"></mat-paginator>
      </div>
    </div>
  </div>
</section>
