<app-navigation></app-navigation>
<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-md-8 offset-md-2 col-lg-4 offset-lg-4">
        <h3 class="text-center">Log in</h3>
        <form [formGroup]="loginFormGroup" (submit)="login()">
          <div class="form-group">
            <mat-form-field class="w-100">
              <input matInput formControlName="email" type="email" placeholder="E-mail">
              <mat-error *ngIf="hasError('email', 'required')">E-mail is required</mat-error>
              <mat-error *ngIf="hasError('email', 'email')">Please enter a valid e-mail</mat-error>
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field class="w-100">
              <input matInput formControlName="password" type="password" placeholder="Password">
              <mat-error *ngIf="hasError('password', 'required')">Password is required</mat-error>
            </mat-form-field>
          </div>
          <p>If you do not have an account yet, please <a routerLink="/signup">Sign up</a></p>
          <div class="text-center">
            <button type="submit" class="btn btn-primary">Log in</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
