<div class="card" style="width: 18rem;">
  <img [src]="movie.preview_image_url" class="card-img-top" alt="">
  <div class="card-body">
    <h5 class="card-title text-center">{{movie.title}}</h5>
    <p *ngIf="movie.year"><strong>Year: </strong> {{movie.year}}</p>
    <p class="card-text">{{movie.summary}}</p>
    <div class="row">
      <div class="col">
        <button *ngIf="showDelete" (click)="delete()" class="btn btn-danger">Delete</button>
      </div>
      <div class="col">
        <a [routerLink]="['/movies', movie.slug]" class="btn btn-primary">View more</a>
      </div>
    </div>
  </div>
</div>
