<h1 mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content>
  <p *ngIf="data.message">{{data.message}}</p>
  <div class="text-center">
    <button mat-dialog-close class="btn btn-primary">Ok</button>
  </div>
</div>
