<app-navigation></app-navigation>
<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-md-8 offset-md-2 col-lg-4 offset-lg-4">
        <h3 class="text-center">Sign up</h3>
        <form [formGroup]="signupFormGroup" (submit)="signup()">
          <div class="form-group">
            <mat-form-field class="w-100">
              <input matInput formControlName="email" placeholder="E-mail">
              <mat-error *ngIf="hasError('email', 'required')">E-mail is required</mat-error>
              <mat-error *ngIf="hasError('email', 'email')">Please enter a valid e-mail</mat-error>
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field class="w-100">
              <input type="password" matInput formControlName="password" placeholder="Password">
              <mat-error *ngIf="hasError('password', 'required')">Password is required</mat-error>
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field class="w-100">
              <input type="password" matInput formControlName="password2" placeholder="Verify your password">
              <mat-error *ngIf="hasError('password2', 'passwordsMatch')">
                The passwords are not the same
              </mat-error>
            </mat-form-field>
          </div>
          <hr>
          <div class="form-group">
            <mat-form-field class="w-100">
              <input matInput formControlName="name" placeholder="Name">
              <mat-error *ngIf="hasError('name', 'required')">Name is required</mat-error>
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field class="w-100">
              <input matInput formControlName="lastname" placeholder="Lastname">
              <mat-error *ngIf="hasError('lastname', 'required')">Lastname is required</mat-error>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="w-100">
              <input matInput formControlName="birthdate" [matDatepicker]="picker" placeholder="Birthdate"
                     readonly (click)="picker.open()">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-error *ngIf="hasError('birthdate', 'required')">Birthdate is required</mat-error>
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field class="w-100">
              <textarea rows="3" matInput formControlName="address" placeholder="Address"></textarea>
              <mat-error *ngIf="hasError('address', 'required')">Address is required</mat-error>
            </mat-form-field>
          </div>
          <p>If you already have an account, please <a routerLink="/login">Log in</a></p>
          <div class="text-center">
            <button type="submit" class="btn btn-primary">Sign up</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
