<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="">OmniMovies</a>
  <div class="navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
          Movies
        </a>
      </li>
      <ng-container *ngIf="!isLogged()">
        <li class="nav-item">
          <a class="nav-link" routerLink="/login" [routerLinkActive]="['active']">
            Log in
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/signup" [routerLinkActive]="['active']">
            Sign up
          </a>
        </li>
      </ng-container>
      <ng-container *ngIf="isLogged()">
        <li class="nav-item">
          <a class="nav-link" routerLink="/suggested-movies" [routerLinkActive]="['active']">
            Suggested movies
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/my-movies" [routerLinkActive]="['active']">
            My movies
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/create-movie" [routerLinkActive]="['active']">
            Create a movie
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="logout()">
            Log out
          </a>
        </li>
      </ng-container>

    </ul>
  </div>
</nav>
